DesiredDistance 15
Speed 0 20 40
SteerK 1
LookAheadDistance 12 15 18
SteerStanleyProportion 0.15
AccKd 0.05 0.05 0.05                               
AccKv 0.05 0.04 0.03
AccKa 0.1 0.1 0.06
DeltaS -5 8
AccLimit -4 1
PedalEffect 0.1
kAcc 0.8
bAcc 0.8
kBrake 2.4
bBrake 1.8
AccCorrectMax 1
BrakeCorrectMax 3
ControlSteerCorrect 45
LonConSwitch 1
LatConSwitch 1
LatAccLimit 1.5
KErrY 0.25
KErrTheta 0.025
ErrY2Eff 1.5
ErrTheta2Eff 15
